---
layout: skel
---
<div id="doc" class="yui-t4">

<div id="bd">
  <div id="yui-main"><div class="yui-b">
    <ul id="navbar">
    <li><a href="/">/</a></li>
    <li><a href="/articles.html">/articles</a></li>
    <li><a href="/code.html">/code</a></li>
  </ul><br style="clear:both" />

  <h1>{{ page.title }}</h1>
  {{ content }}

  </div></div> <!-- yui-main --> <!-- yui-b -->
  <div id="sidebar" class="yui-b">
    <a href="/"><img id="sidebar_logo" src="/img/glider_sidebar.png" /></a>

    <div id="sidebar_content">

      <p>
        subscribe &raquo; <a href="http://feeds.feedburner.com/Ls/etcMore">rss</a><br />
        github &raquo; <a href="http://www.github.com/falconindy">github</a><br />
        bro &raquo; <a href="http://code.alexreisner.com/">lambda calc</a><br />
      </p>

      <p><a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;pub=xa-4ac2bccd5e9e095f"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a></p>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js?pub=xa-4ac2bccd5e9e095f"></script>

    </div> <!-- sidebar_content -->
  </div> <!-- sidebar -->
</div> <!-- bd -->

<div id="ft"></div>

</div> <!-- doc -->
